<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PublicKey" value="61bccece6f749ea23207f6148cb1479edf90981ef16f295a8bee36917c1747f6"/>
		<add key="ApplicationId" value="921363582191566878"/>
		<add key="Token" value="OTIxMzYzNTgyMTkxNTY2ODc4.GLLKJd.JkuFXWkti8ynuoaPYBvYWEW8Z-m6ebRIyoZOuM"/>
	</appSettings>
</configuration>